lectures/19-Clustering.pdf filter=lfs diff=lfs merge=lfs -text
lectures/22ExperimentalDesign.pdf filter=lfs diff=lfs merge=lfs -text
lectures/03-EDA.pdf filter=lfs diff=lfs merge=lfs -text
lectures/04-PandasSQL.pdf filter=lfs diff=lfs merge=lfs -text
lectures/07-BiasAndRegression.pdf filter=lfs diff=lfs merge=lfs -text
lectures/09-ClassificationPCA.pdf filter=lfs diff=lfs merge=lfs -text
lectures/18TextData.pdf filter=lfs diff=lfs merge=lfs -text
lectures/08-RegressionContinued.pdf filter=lfs diff=lfs merge=lfs -text
lectures/10-SVMAndEvaluation.pdf filter=lfs diff=lfs merge=lfs -text
lectures/14-Recommendations_MapReduce.pdf filter=lfs diff=lfs merge=lfs -text
lectures/17BayesianMethodsContinued.pdf filter=lfs diff=lfs merge=lfs -text
lectures/23-WrapUp.pdf filter=lfs diff=lfs merge=lfs -text
lectures/15b-Spark.pdf filter=lfs diff=lfs merge=lfs -text
lectures/16-BayesianMethods.pdf filter=lfs diff=lfs merge=lfs -text
lectures/20-Presentations.pdf filter=lfs diff=lfs merge=lfs -text
lectures/01-Introduction.pdf filter=lfs diff=lfs merge=lfs -text
lectures/05-StatisticalModels.pdf filter=lfs diff=lfs merge=lfs -text
lectures/06-StoryTelling.pdf filter=lfs diff=lfs merge=lfs -text
lectures/13-BestPractices_Recommendations.pdf filter=lfs diff=lfs merge=lfs -text
lectures/15a-MapReduce_Combiner.pdf filter=lfs diff=lfs merge=lfs -text
lectures/23-DeepLearning.pdf filter=lfs diff=lfs merge=lfs -text
lectures/11-DecisionTreesAndRandomForest.pdf filter=lfs diff=lfs merge=lfs -text
lectures/12-Ensemble[[:space:]]Learning[[:space:]]and[[:space:]]Random[[:space:]]Forests.pdf filter=lfs diff=lfs merge=lfs -text
