[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "*"
numpy = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
sklearn = "*"
requests = "*"
bs4 = "*"
seaborn = "*"
pyquery = "*"
networkx = "*"
mrjob = "*"
pattern = "*"
mysqlclient = "*"

[requires]
python_version = "3.6"
